Rayhan .font-style {
  font-family: "Merriweather", serif;
  font-weight: 600;
}

<<<<<<< HEAD
.custom-div:hover {
=======
.custom-div:hover{
>>>>>>> fab70a4eb3a026a07a305dd9b0e7220ca0da96f2
  border-radius: 100px 0px;
  background: #fff;
  box-shadow: 0px 30px 50px rgba(32, 168, 111, 0.1);
  transition: 0.2s ease;
  cursor: pointer;
}
<<<<<<< HEAD
.custom-div-one {
=======
.custom-div-one{
>>>>>>> fab70a4eb3a026a07a305dd9b0e7220ca0da96f2
  border-radius: 100px 0px;
  background: #fff;
  box-shadow: 0px 30px 50px rgba(32, 168, 111, 0.1);
  cursor: pointer;
}

<<<<<<< HEAD
.footer-logo {
=======
.footer-logo{
>>>>>>> fab70a4eb3a026a07a305dd9b0e7220ca0da96f2
  width: 150.21px;
  height: 100.59px;
  background: transparent;
}
/* Rayhan */
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
=======
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafffd;
}
.navbar-brand img {
  height: 80px;
}
>>>>>>> fab70a4eb3a026a07a305dd9b0e7220ca0da96f2
a.nav-link {
  font-weight: 700;
  margin-right: 10px;
}
.hader-text h1,
h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #0d052e;
}
.btn-cruve {
  background-image: linear-gradient(120deg, #1cd8ba, #2ebbed);
  padding: 10px 25px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
}
.header {
  background-image: url(image/background.jpg);
  background-repeat: no-repeat;
}

.header-image img {
  width: 100%;
}

<<<<<<< HEAD
.stay {
  background-image: url(image/headerbgside.png);
  background-position: left top;
=======
/* .stay {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-top: -200px;
} */
.stylis {
  padding: 50px 0px;
  padding-top: 200px;
}
.stay{
  background-image: url(image/headerbgside.png);
  z-index: 2;
  position: relative;
  background-position: left top;
  bottom: 170px;
  
>>>>>>> fab70a4eb3a026a07a305dd9b0e7220ca0da96f2
}

.item1 img {
  height: 60px;
}
.item2 img {
  height: 60px;
}

.item1 {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 5px 5px 5px 5px #eafdf5;
}
.item1:hover {
  background-image: linear-gradient(90deg, #0ebbdc, #1edcb6);
  color: #fff;
}
.fixtedcolor {
  background-image: linear-gradient(90deg, #0ebbdc, #1edcb6);
  color: #fff;
}
.logo img {
  height: 80px;
}
.item2:hover {
  background-image: linear-gradient(90deg, #0ebbdc, #1edcb6);
  color: #fff;
}
.item2 {
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px 5px #eafdf5;
}
.text {
  padding: 10px;
}

.archivstyle {
<<<<<<< HEAD
  padding: 100px 0px;
}

/* payal */
#pricing-area {
=======
  position: relative;
  bottom: 100px;
}

/* payal */
#pricing-area{
>>>>>>> fab70a4eb3a026a07a305dd9b0e7220ca0da96f2
  background-image: url(image/headerbgside.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right top;
<<<<<<< HEAD
}
.team-work .price {
  background-color: white;
  box-shadow: 8px 5px 20px #ccc;
  padding: 5;
  margin: 5px 0;
  padding-top: 25px;
  border: 3px solid #fff;
  height: 560px;
}

.price:hover {
  transition: 0.2s ease;
  border: 3px solid #64cee4;
}
.price:hover .hide-btn {
  display: block;
  margin: 0px 100px;
}

.hide-btn {
  display: none;
}
.team-work .price hr {
=======
  
}
.team-work .price{
  background-color: white;
  box-shadow: 8px 5px 20px #ccc;
  padding: 5px;
  padding-top: 25px;
}
.priceOne{
  border: 3px solid #64cee4;
}
.team-work .price hr{
>>>>>>> fab70a4eb3a026a07a305dd9b0e7220ca0da96f2
  margin: auto;
  width: 55%;
  border: 0.2px solid #64cee4;
  border-color: linear-gradient(90deg, #0ebbdc, #1edcb6);
}
<<<<<<< HEAD
.input-search {
  position: relative;
}

.search {
=======
.input-search{
  position: relative;
}

.search{
>>>>>>> fab70a4eb3a026a07a305dd9b0e7220ca0da96f2
  background-image: linear-gradient(120deg, #1cd8ba, #2ebbed);
  width: 100px;
  color: white;
  margin-top: 30px;
  position: absolute;
<<<<<<< HEAD
  left: 57%;
  height: 40px;
  font-size: 10px;
}
.footer-icon {
  justify-content: start;
}

@media only screen and (max-width: 768px) {
  .footer-icon {
    margin-left: 15%;
  }
  .items {
    text-align: center;
  }
  .search {
    background-image: linear-gradient(120deg, #1cd8ba, #2ebbed);
    width: 100px;
    color: white;
    margin-top: 30px;
    position: absolute;
    left: 60%;
    height: 40px;
    font-size: 10px;
  }
=======
  left: 59%;
  height: 40px;font-size:10px
}

@media only screen and (max-width: 768px) {
  
  .footer-icon {
    text-align: center;
>>>>>>> fab70a4eb3a026a07a305dd9b0e7220ca0da96f2
}
.footer-icons{
  margin-left: 140px;
}
.items{
  text-align: center;
}
.search{
  background-image: linear-gradient(120deg, #1cd8ba, #2ebbed);
  width: 100px;
  color: white;
  margin-top: 30px;
  position: absolute;
  left: 75%;
  height: 40px;font-size:10px
}


}